$greeny: #228B22;
$green_pastel_1: #40513B;
$green_pastel_2: #609966;
$green_pastel_3: #9DC08B;
$green_pastel_4: #EDF1D6;

$earth_pastel_1: #8D7B68;
$earth_pastel_2: #A4907C;
$earth_pastel_3: #C8B6A6;
$earth_pastel_4: #F1DEC9;

$bgcolor: #F7F1E5;

$small-media-querie: 400px;
$medium-media-querie: 800px;